
if loadfont /boot/grub/font.pf2 ; then
	set gfxmode=auto
	insmod efi_gop
	insmod efi_uga
	insmod gfxterm
	terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Basestation Install" {
	set gfxpayload=keep
	linux	/install/vmlinuz debian-installer/locale=en_US keyboard-configuration/layoutcode=us debian-installer/framebuffer=false file=/cdrom/preseed/ubuntu.seed 
	initrd	/install/initrd.gz
}
